* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
	background-color: transparent;
	padding: 0px;
	border: 0px;
}

tooltip {
	color: #e6e6e6;
	background: black;
	opacity: 0.8;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #e6e6e6;
}

tooltip label {
	color: #e6e6e6;
}

/*-----module groups----*/

.modules-left,
.modules-center,
.modules-right {
	background-color: black;
	color: #e6e6e6;
	border: none; 
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}


/*-----modules indv----*/
#taskbar button,
#workspaces button {
	color: #e6e6e6;
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 9px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: black;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
	color: #cccccc;
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: 2px;
	padding-right: 2px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
	background-color: #cccccc;
	color: black;
	padding-left: 8px;
	padding-right: 8px;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent {
	border-radius: 10px;
}

/*-----unified padding fix for all modules, including missing ones-----*/
#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-quit,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay
#custom-audio,
#custom-microphone,
#custom-menu,
#custom-wallpaper,
#custom-blur,
#custom-monitors,
#custom-passive_opacity,
#custom-active_opacity,
#custom-reload_wm,
#custom-power,
#custom-lock,
#custom-suspend,
#custom-reboot,
#custom-logout
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
}

#custom-lock,
#custom-suspend,
#custom-reboot,
#custom-logout
{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;
}


#custom-power {
	padding: 1px 3px;
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}

#pulseaudio.muted {
	color: #cc3436;
}

#temperature.critical {
	color: #cc3436;
}

@keyframes blink {
	to {
		color: #000000;
	}
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 3.0s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/*-----Slider Styling----*/
#backlight-slider slider,
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
	background-color: #444;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}
